<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="Logs/log1.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10000KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />    
  </layout>
  </appender>
  <appender name="CLogAppender" type="log4net.CLog.CLogAppender, log4net.CLog">
    <connectionString value="server= {services};app=rdc;identity=test;logtype=default"/>
    <bufferSize value="1" />
    <autoFlushInterval>5</autoFlushInterval>
  </appender>

  <!--<appender name="CLogAppenderCIPerformance" type="log4net.CLog.CLogAppender, log4net.CLog">
    <connectionString value="server={services};app=rdc;identity=test;logtype=ci-performance1"/>
    <bufferSize value="50" />
    <autoFlushInterval>10</autoFlushInterval>
  </appender>-->
  <root>
    <level value="ALL"/>
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="CLogAppender" />
  </root>
</log4net>